server:
  port: 8888

spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/finalyn
    username: root
    password: 1234
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MariaDB106Dialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    database: mysql

logging.level:
  org.hibernate.SQL: debug


# swagger setting
springdoc:
  swagger-ui:
    path: /myapi.html

jwt:
  secret: tj3FeRCresRAKT/1VsmmSiwnGtTLfUS+Cx5qyvHy0xM8huR65mt6dykV6NvXz8ym1nubaf9p4gJNRPXV+YGPKA==